<!-- Header small -->
<app-header [title]="title" [subTitle]="subTitle" [small]="true"></app-header>

<!-- Main -->
<main id="about" class="main main-raised">

  <!-- Content -->
  <section class="page-section bg-light">
    <app-section-title [title]="'Some title'" [subTitle]="'What i have to offer'"
      [text]="'Phasellus ultricies, nisi vitae rutrum hendrerit, justo nunc faucibus libero, vel suscipit nibh erat id arcu. Cras ac vehicula diam.'">
    </app-section-title>
  </section>

</main>