<!-- Header small -->
<app-header-small [title]="title" [subTitle]="subTitle"></app-header-small>

<!-- Main -->
<main id="about" class="main main-raised">

  <!-- Content -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title
        [title]="'Some title'"
        [subTitle]="'What i have to offer'"
        [text]="'Phasellus ultricies, nisi vitae rutrum hendrerit, justo nunc faucibus libero, vel suscipit nibh erat id arcu. Cras ac vehicula diam.'"
      ></app-section-title>
      <div class="row">

      </div>
    </div>
  </section>

</main>

