<app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
</app-section-title>

<!-- Tab group -->
<div class="container-fluid" *ngIf="generalContent">
  <div class="row mb-4">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs color="primary">
        <!-- Header tab -->
        <mat-tab label="Header">
          <ng-container *ngTemplateOutlet="headerTab"></ng-container>
        </mat-tab>
        <!-- Cards tab -->
        <mat-tab label="Cards">
          <ng-container *ngTemplateOutlet="cardsTab"></ng-container>
        </mat-tab>
        <!-- Form tab -->
        <mat-tab label="Formulier">
          <ng-container *ngTemplateOutlet="formTab"></ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!-- Tab content templates -->
<ng-template #headerTab>
  <app-comp-header [page]="'contact'" [generalContent]="generalContent"></app-comp-header>
</ng-template>
<ng-template #cardsTab>
  <app-comp-contact-cards [generalContent]="generalContent"></app-comp-contact-cards>
</ng-template>
<ng-template #formTab>
  <app-comp-contact-form [generalContent]="generalContent"></app-comp-contact-form>
</ng-template>