.card-info-icon {
  border-radius: 4px;
  height: 48px;
  width: 48px;
}

.card-info-icon .mat-icon {
  font-size: 28px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  text-align: center;
}

.info-card {
  & .mat-card-title {
    font-size: 1rem !important;
  }
  & .mat-card-subtitle {
    font-size: 20px !important;
    margin-bottom: 0px !important;
  }
}