<!-- <mat-card class="{{elevation}} p-3 m-2">
  <div class="d-flex flex-column">
    <div class="d-flex flex-row align-items-center justify-content-between mb-1">
      <div class="card-info-icon bg-primary d-flex align-items-center justify-content-center mat-elevation-z0">
        <mat-icon class="txt-light">{{icon}}</mat-icon>
      </div>
      <div class="card-info-text d-flex flex-column align-items-end justify-content-center">
        <span class="h6 txt-dark-muted">{{title}}</span>
        <span class="h5 txt-dark mb-0">{{text}}</span>
      </div>
    </div>
  </div>
</mat-card> -->

<mat-card class="info-card {{elevation}} m-2">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="txt-secondary card-header-icon">{{icon}}</mat-icon>
    </div>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle [innerHTML]="text"></mat-card-subtitle>
  </mat-card-header>
</mat-card>