<!-- Header small -->
<app-header-small [title]="title" [subTitle]="subTitle"></app-header-small>

<div class="px-3">
  <!-- Theme container -->
  <div class="theme-container py-3">

    <!-- Maps-->
    <app-section-title-center [title]="'Location'"></app-section-title-center>
    <app-maps></app-maps>


    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 px-0">
          <!-- Contact -->
          <app-contact-card></app-contact-card>
        </div>
      </div>
    </div>


  </div>
</div>
