<!-- Card-->
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon mat-list-icon>maps</mat-icon>
        <div mat-line>Address</div>
        <div mat-line>Kropswolde, Groningen</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>email</mat-icon>
        <div mat-line>Email</div>
        <div mat-line>mail@domain.com</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>phone</mat-icon>
        <div mat-line>Phone</div>
        <div mat-line>06 12345678</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
