<!-- Card-->
<mat-card *ngIf="generalContent" class="{{generalContent.cardElevation}}">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div [hidden]="submitted" class="w-100">
          <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
            <div class="form-group">
              <mat-form-field appearance="{{ generalContent.formStyle }}" color="{{ generalContent.formColor }}" class="w-100">
                <mat-label>Naam</mat-label>
                <input matInput type="text" [(ngModel)]="model.name" name="name" id="name" #name="ngModel" required />
                <mat-error [hidden]="name.valid || name.pristine">
                  Naam is <strong>verplicht</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="{{ generalContent.formStyle }}" color="{{ generalContent.formColor }}" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="info@example.com" [(ngModel)]="model.email" name="email"
                  id="email" #email="ngModel" required />
                <mat-error [hidden]="email.valid || email.pristine">
                  Email is <strong>verplicht</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group" *ngIf="generalContent && generalContent.contactformCategories">
              <mat-form-field appearance="{{ generalContent.formStyle }}" color="{{ generalContent.formColor }}" class="w-100">
                <mat-label>Onderwerp</mat-label>
                <mat-select [(ngModel)]="model.subject" name="subject" id="subject" #subject="ngModel" required>
                  <mat-option *ngFor="let subject of generalContent.contactformCategories" [value]="subject">{{ subject }}</mat-option>
                </mat-select>
                <mat-error [hidden]="subject.valid || subject.pristine">
                  Onderwerp is <strong>verplicht</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field appearance="{{ generalContent.formStyle }}" color="{{ generalContent.formColor }}" class="w-100">
                <mat-label>Bericht</mat-label>
                <textarea matInput [(ngModel)]="model.text" name="text" id="text" #text="ngModel" required></textarea>
                <mat-error [hidden]="text.valid || text.pristine">
                  Bericht is <strong>verplicht</strong>
                </mat-error>
              </mat-form-field>
            </div>

            <button mat-raised-button color="accent" type="submit" class="mr-3" [disabled]="!contactForm.form.valid">
              Verstuur
            </button>
            <button mat-raised-button color="primary" type="button" (click)="resetForm();">
              Reset
            </button>

          </form>
        </div>

        <!-- Submitted -->
        <div [hidden]="!submitted">
          <p>Bedankt voor je bericht.</p>
          <button mat-raised-button color="accent" type="button" (click)="submitted = false">
            Bewerk
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-card>