rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow create, update, delete: if request.auth != null && request.auth.uid == "fdu6HXY2SpbyuP8pLyqXZfJdyu52";
      allow read;
    }
  }
}
