<!-- Filters -->
<div class="row">
  <div class="col-12">
    <div class="d-flex align-items-center justify-content-center">
      <button
        mat-raised-button
        color="accent"
        class="mx-2"
        (click)="resetFilters()"
      >
        All
      </button>
      <button
        mat-raised-button
        color="accent"
        class="mx-2"
        *ngFor="let filter of filters"
        (click)="setFilter(filter)"
      >
        {{ filter }}
      </button>
    </div>
  </div>
</div>

<!-- Gallery-->
<div #shuffleContainer class="shuffle-container d-flex flex-row flex-grow-1">

  <app-painting-card
    *ngFor="let painting of paintings"
    class="shuffle-item col-lg-4 col-md-6 col-sm-12"
    [painting]="painting"
  ></app-painting-card>

  <div #shuffleSizer class="sizer-element"></div>
</div>
