@import "../../../variables";

.portfolio-container {
  max-width: 1920px;
  @media (min-width: 992px) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  height: 30vh;
  width: 100%;
  background-color: $color-dark-alt;
}

.portfolio-box-img {
  width: 100%;
  height: 100%;
  object-position: 50% 50%;
  object-fit: cover
}

.portfolio-box-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background-color: rgba($color-primary, 0.9);
  transition: opacity 0.25s ease;
}

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}

.portfolio-project-name {
  font-size: 1.2rem;
}

.portfolio-project-category {
  font-size: 0.85rem;
}
