@import "../../../variables.scss";

@media (max-width: 575px) {
  .row > [class*="col-"] {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.filter-panel {
  width: max-content;
  height: max-content;
  margin: 0px 1rem;
}