.filterBar {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  left: calc(50% - 175px);
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.filterBar-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filterAccordion {
  width: 350px;
  max-height: 50vh;
  overflow: auto;
  background-color: white;
}
