<!-- Loader -->
<div #pageLoader class="container">
  <div class="row">
    <div class="col-12">
      <app-loader></app-loader>
    </div>
  </div>
</div>

<!-- Shuffle Gallery -->
<div #pageContent class="container d-none">
  <div #shuffleContainer class="shuffle-container row">
    <app-painting-card #shuffleItems *ngFor="let painting of paintings"
      class="col-12 col-md-6 col-lg-4 p-0 shuffle-item" [attr.data-category]="painting.category"
      [attr.data-paint]="painting.paint" [attr.data-material]="painting.material" [attr.data-status]="painting.status"
      [painting]="painting" [elevation]="generalContent.cardElevation">
    </app-painting-card>
    <div #shuffleSizer class="col-1 shuffle-sizer"></div>
  </div>
</div>

<!-- Filter sheet -->
<div #filterBar class="filterBar mat-elevation-z8" (clickOutside)="closeFilters();" [@appearInOut]="animationState">
  <div class="filterBar-buttons">
    <button mat-button color="accent" [matBadge]="getActiveFilterCount()" [matBadgeHidden]="getActiveFilterCount() == 0"
      matBadgePosition="after" matBadgeColor="accent" class="m-2" (click)="toggleFilter();">
      <mat-icon>filter_alt</mat-icon>
      <span>Filter</span>
    </button>
    <button mat-button color="primary" class="m-2" (click)="resetFilters();">
      <mat-icon>replay</mat-icon>
      <span>Reset</span>
    </button>
  </div>

  <mat-accordion *ngIf="generalContent" class="filterAccordion">
    <mat-expansion-panel [expanded]="false" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mr-2">category</mat-icon>
          <span>Categorie</span>
        </mat-panel-title>
        <mat-panel-description class="flex-grow-0 mr-5">
          <span *ngIf="activeFilters.categories.length">{{activeFilters.categories.length}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list #categorylistSheet [(ngModel)]="activeFilters.categories" (ngModelChange)="applyFilters()">
        <mat-list-option class="text-capitalize" color="primary" checkboxPosition="after"
          *ngFor="let category of generalContent.paintingCategories" [value]="category">
          {{ category }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="false" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mr-2">brush</mat-icon>
          <span>Verf</span>
        </mat-panel-title>
        <mat-panel-description class="flex-grow-0 mr-5">
          <span *ngIf="activeFilters.paints.length">{{activeFilters.paints.length}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list #paintlistSheet [(ngModel)]="activeFilters.paints" (ngModelChange)="applyFilters()">
        <mat-list-option class="text-capitalize" color="primary" checkboxPosition="after"
          *ngFor="let paint of generalContent.paintingPaints" [value]="paint">
          {{ paint }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="false" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mr-2">photo_filter</mat-icon>
          <span>Materiaal</span>
        </mat-panel-title>
        <mat-panel-description class="flex-grow-0 mr-5">
          <span *ngIf="activeFilters.materials.length">{{activeFilters.materials.length}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list #materiallistSheet [(ngModel)]="activeFilters.materials" (ngModelChange)="applyFilters()">
        <mat-list-option class="text-capitalize" color="primary" checkboxPosition="after"
          *ngFor="let material of generalContent.paintingMaterials" [value]="material">
          {{ material }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="false" class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mr-2">local_offer</mat-icon>
          <span>Status</span>
        </mat-panel-title>
        <mat-panel-description class="flex-grow-0 mr-5">
          <span *ngIf="activeFilters.states.length">{{activeFilters.states.length}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list #statelistSheet [(ngModel)]="activeFilters.states" (ngModelChange)="applyFilters()">
        <mat-list-option class="text-capitalize" color="primary" checkboxPosition="after"
          *ngFor="let state of generalContent.paintingStates" [value]="state">
          {{ state }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

  </mat-accordion>

</div>