<!-- Header small -->
<app-header [title]="pageTitle.title" [subTitle]="pageTitle.subTitle" [small]="true"></app-header>

<!-- Main -->
<main id="404" class="main main-raised">
  <!-- News -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title 
        [title]="content.title" 
        [subTitle]="content.subTitle" 
        [text]="content.text">
      </app-section-title>
      <div class="row">
        <div class="col-12">
          <button mat-raised-button color="accent" class="rounded-pill mr-5" (click)="goBack()">
            {{content.btnBackText}}
          </button>
        </div>
        <div class="col-12 mt-3">
          <button mat-raised-button color="accent" class="rounded-pill" routerLink="{{content.btnHomeLink}}">
            {{content.btnHomeText}}
          </button>
        </div>
      </div>
    </div>
  </section>
</main>