<section class="page-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center pb-4">
        <h2 class="my-0">Some title</h2>
        <hr class="divider mt-4"/>
      </div>
    </div>
  </div>
  <div class="container mat-elevation-z4">
    <div class="row pr-lg-5">
      <div class="col-md-7 my-2">
        <div class="view">
          <img src="https://mdbootstrap.com/img/illustrations/graphics(4).png" class="img-fluid" alt="smaple image">
        </div>
      </div>
      <div class="col-md-5 my-2 d-flex align-items-center">
        <div>
          <h3 class="font-weight-bold mb-4">Material Design Blocks</h3>
          <p>Lorem ipsum dolor sit amet consectetur adip elit. Maiores deleniti explicabo voluptatem quisquam nulla
            asperiores aspernatur aperiam voluptate et consectetur minima delectus, fugiat eum soluta blanditiis
            adipisci, velit dolore magnam.</p>
          <button type="button" class="btn btn-orange btn-rounded mx-0">Download</button>
        </div>
      </div>
    </div>
  </div>
</section>
