<!-- Header-->
<header id="header" class="rounded-bottom" [ngClass]="small ? 'smallhead' : 'masthead'"
  [style.backgroundImage]="'url(' + image + ')'">
  <div class="container-fluid h-100 linear-overlay-black">
    <div class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-12 align-self-center">
        <h1 class="txt-light font-weight-bold">
          {{ titleDisplay }}<span class="txt-primary">.</span>
        </h1>
        <hr class="divider my-4" />
        <p *ngIf="subTitle" class="txt-light-muted">{{ subTitle }}</p>
      </div>
    </div>
  </div>
  <!-- scrolldown -->
  <div class="scrolldown w-100" *ngIf="!small">
    <a (click)="scrollDown()">
      <!-- <span id="scrolldown"></span> -->
      <div class="icon-scroll"></div>
    </a>
  </div>
</header>