<!-- Card-->
<mat-card class="mat-elevation-z4 p-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="title-underlined">{{title}}</h3>
        <p class="txt-dark-muted">{{subtitle}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <iframe
          [src]="getUrl() | safe: 'resourceUrl'"
          style="border: 0; width: 100%"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</mat-card>
