<!-- Card-->
<mat-card class="mt-3 p-0">
  <mat-card-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 px-0">
          <div class="map-container">
            <iframe
              src="https://maps.google.com/maps?q=Oeverlanden+60,+9606+RR+Kropswolde&t=&z=13&ie=UTF8&iwloc=&output=embed"
              style="border: 0"
              allowfullscreen
            ></iframe>
          </div>
        </div>

        <div class="col-md-4 d-flex align-items-center">
          <app-info-card
            [title]="'Find us here'"
            [text]="'Oeverlanden 60, 9606RR Kropswolde'"
            [icon]="'pin_drop'"
          ></app-info-card>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
