<!-- Header -->
<app-header></app-header>

<div class="px-3">
  <!-- Theme container -->
  <div class="theme-container py-3">

    <!-- Services -->
    <app-section-title-center [title]="'Services'"></app-section-title-center>
    <div class="container-fluid">
      <div class="row">
        <div *ngFor="let service of services" class="col-lg-4 col-md-6 col-sm-12">
          <!-- Service cards -->
          <app-service-card [service]="service"></app-service-card>
        </div>
      </div>
    </div>

    <!-- Featured -->
    <app-section-title-center [title]="'Featured'"></app-section-title-center>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <app-featured [painting]="featuredPainting"></app-featured>
        </div>
      </div>
    </div>

    <!-- Latest -->
    <app-section-title-center [title]="'Latest'"></app-section-title-center>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <app-latest></app-latest>
        </div>
      </div>
    </div>

    <!-- Content with title -->
    <app-content-title></app-content-title>

    <!-- CTA -->
    <app-call-to-action></app-call-to-action>

    <!-- CTA with divider -->
    <app-call-to-action-divider></app-call-to-action-divider>

  </div>
</div>



