
.featured-img {
  width: calc(100% + 3rem);
  height: 60vh;
  margin-left: -1.5rem !important;
  margin-right: -1.5rem !important;
  border-radius: inherit;
  object-position: 50% 50%;
  object-fit: cover;
}

.round-button {
  border-radius: 1rem;
}
