<div class="row">

  <div class="col-12">
    <mat-card id="featured-card" class="p-0 mx-4 mat-elevation-z2">
      <img src="{{painting.thumbnail}}" class="featured-img mat-elevation-z8" alt="{{painting.title}}">
      <mat-card-content class="p-4 text-center">
        <h2 class="">{{painting.title}}</h2>
        <h6 class="font-italic mb-3 txt-primary">By Rolien Schrik.</h6>
        <p class="pt-2">{{getTrimmedDescription()}}</p>
        <button mat-flat-button class="gradient-blue txt-light round-button mx-1">{{painting.paint}}</button>
        <button mat-flat-button class="gradient-orange txt-light round-button mx-1">{{painting.category}}</button>
<!--        <button mat-raised-button color="primary" (click)="goToPaintingDetails()">Details</button>-->
      </mat-card-content>
    </mat-card>
  </div>

</div>
