<!-- Header small -->
<app-header [title]="title" [subTitle]="subTitle" [small]="true"></app-header>

<!-- Main -->
<main id="contact" class="main main-raised">
  <!-- Contact -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title
        [title]="'Contact'"
        [subTitle]="'How to reach me'"
      ></app-section-title>

      <div class="row">
        <div
          *ngFor="let contactcard of contactcards"
          class="col-lg-4 col-md-6 col-sm-12"
        >
          <!-- Service cards -->
          <app-service-card [service]="contactcard"></app-service-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Form -->
  <section class="page-section">
    <div class="container">
      <app-section-title
        [title]="'Contact form'"
        [subTitle]="'Send a message'"
        [text]="
          'Phasellus ultricies, nisi vitae rutrum hendrerit, justo nunc faucibus libero, vel suscipit nibh erat id arcu. Cras ac vehicula diam.'
        "
      ></app-section-title>

      <div class="row">
        <div class="col-md-6">
          <app-contact-card></app-contact-card>
        </div>
        <div class="col-md-6">
          <app-maps [title]="'Pay a visit'" [subtitle]="'Find us here.'" [location]="'Oeverlanden+60,+9606+RR+Kropswolde'"></app-maps>
        </div>
      </div>
    </div>
  </section>
</main>
