<!-- Header small -->
<app-header *ngIf="pageTitle" [title]="pageTitle.title" [subTitle]="pageTitle.subTitle" [image]="pageTitle.image" [small]="true"></app-header>

<!-- Main -->
<main id="contact" class="main main-raised" *ngIf="generalContent">
  <!-- Contact -->
  <section *ngIf="contactCards" class="page-section bg-light">
    <app-section-title [title]="contactCards.title" [subTitle]="contactCards.subTitle" [text]="contactCards.text">
    </app-section-title>
    <div class="container">
      <div class="row">
        <div *ngFor="let contactcard of contactCards.services" class="col-lg-4 col-md-6 col-sm-12">
          <!-- Service cards -->
          <app-service-card [service]="contactcard" [elevation]="generalContent.cardElevation"></app-service-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Form -->
  <section *ngIf="contactForm" class="page-section">
    <app-section-title [title]="contactForm.title" [subTitle]="contactForm.subTitle" [text]="contactForm.text">
    </app-section-title>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-contact-card [generalContent]="generalContent"></app-contact-card>
        </div>
      </div>
    </div>
  </section>
</main>