<!-- Painting -->
<div *ngIf="painting">
  <!-- Header small -->
  <app-header [title]="painting.title" [subTitle]="subTitle" [small]="true" [image]="painting.thumbnail"></app-header>

  <!-- Main -->
  <main class="main main-raised">
    <!-- Content -->
    <section class="page-section bg-light">
      <app-section-title [title]="'Gallerij'" [subTitle]="'Foto'"
        [text]="'Alle beschikbare fotos zijn hier te vinden.'"></app-section-title>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <app-carousel-img [images]="painting.images"></app-carousel-img>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <app-section-title [title]="'Informatie'" [subTitle]="'Meer'"
        [text]="'Over ' + painting.title + ' van ' + painting.artist + '.'">
      </app-section-title>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <mat-accordion multi="true">
              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">person</mat-icon>
                    <strong>Kunstenaar</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">{{ painting.artist }}</div>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">description</mat-icon>
                    <strong>Omschrijving</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.description }}
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">palette</mat-icon>
                    <strong>Verf en materiaal</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.paint }} op {{ painting.material }}
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">photo_size_select_actual</mat-icon>
                    <strong>Afmetingen</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.length }} x {{ painting.width }} cm
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">category</mat-icon>
                    <strong>Categorie</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.category }}
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">more</mat-icon>
                    <strong>Status</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.status }}
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">shopping_bag</mat-icon>
                    <strong>Prijs</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">&euro; {{ painting.price }}</div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>