<!-- Painting -->
<div *ngIf="painting">
  <!-- Header small -->
  <app-header [title]="painting.title" [subTitle]="subTitle" [small]="true" [image]="painting.thumbnail"></app-header>

  <!-- Main -->
  <main class="main main-raised">
    <!-- Content -->
    <section class="page-section bg-light">
      <app-section-title [title]="'Gallerij'" [subTitle]="'Foto'"
        [text]="'Alle beschikbare fotos zijn hier te vinden.'"></app-section-title>
      <div class="container">
        <div class="row mb-5">
          <div class="col-12">
            <app-carousel-img [images]="painting.images"></app-carousel-img>
          </div>
        </div>
      </div>
    </section>

    <section class="page-section">
      <app-section-title [title]="'Informatie'" [subTitle]="'Meer'"
        [text]="'Over ' + painting.title + ' van ' + painting.artist + '.'">
      </app-section-title>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <mat-accordion multi="true" class="admin-accordion">
              <mat-expansion-panel [expanded]="true" *ngIf="painting.artist">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">person</mat-icon>
                    <strong>Kunstenaar</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">{{ painting.artist }}</div>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="true" *ngIf="painting.description">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">description</mat-icon>
                    <strong>Omschrijving</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content" [innerHTML]="painting.description">
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel *ngIf="painting.paint || painting.material">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">palette</mat-icon>
                    <strong>Verf en materiaal</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.paint }} op {{ painting.material }}
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel *ngIf="painting.length || painting.width">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">photo_size_select_actual</mat-icon>
                    <strong>Afmetingen</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.length }} x {{ painting.width }} cm
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel *ngIf="painting.category">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">category</mat-icon>
                    <strong>Categorie</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.category }}
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel *ngIf="painting.status">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">more</mat-icon>
                    <strong>Status</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">
                  {{ painting.status }}
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel *ngIf="painting.price">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon color="accent" class="mr-3">shopping_bag</mat-icon>
                    <strong>Prijs</strong>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="panel-content">&euro; {{ painting.price }}</div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </section>

    <!-- Cards -->
    <!-- <section class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <app-info-card [title]="'Omschrijving'" [text]="painting.description" [icon]="'description'">
            </app-info-card>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <app-info-card [title]="'Kunstenaar'" [text]="painting.artist" [icon]="'person'"></app-info-card>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <app-info-card [title]="'Verf en materiaal'" [text]="painting.paint + ' op ' + painting.material"
              [icon]="'palette'"></app-info-card>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <app-info-card [title]="'Afmetingen'" [text]="painting.length + ' x ' + painting.width + ' cm'"
              [icon]="'photo_size_select_actual'"></app-info-card>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <app-info-card [title]="'Categorie'" [text]="painting.category" [icon]="'category'"></app-info-card>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <app-info-card [title]="'Status'" [text]="painting.status" [icon]="'more'"></app-info-card>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <app-info-card [title]="'Prijs'" [text]="painting.price" [icon]="'shopping_bag'"></app-info-card>
          </div>
        </div>
      </div>
    </section> -->

  </main>
</div>