<!-- Painting -->
<div *ngIf="painting">
  <!-- Header small -->
  <app-header [title]="painting.title" [subTitle]="subTitle" [small]="true" [image]="painting.thumbnail"></app-header>

  <!-- Main -->
  <main class="main main-raised">
    <!-- Content -->
    <section class="page-section bg-light">
      <div class="container">
        <app-section-title [title]="painting.title" [subTitle]="'Details of painting'"
          [text]="'By ' + painting.artist + '.'"></app-section-title>

        <div class="row mb-5">
          <div class="col-12">
            <app-carousel-img [paintingId]="painting.id"></app-carousel-img>
          </div>
        </div>

      </div>
    </section>

    <section class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <mat-card class="card-clean">
              <mat-card-content>
                <h2 class="title-underlined">Details</h2>

                <mat-accordion multi="true">
                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon color="accent" class="mr-3">person</mat-icon>
                        <strong>Artist</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-content">{{ painting.artist }}</div>
                  </mat-expansion-panel>

                  <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon color="accent" class="mr-3">description</mat-icon>
                        <strong>Description</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-content">
                      {{ painting.description }}
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon color="accent" class="mr-3">palette</mat-icon>
                        <strong>Paint</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-content">
                      {{ painting.paint }}
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon color="accent" class="mr-3">category</mat-icon>
                        <strong>Category</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-content">
                      {{ painting.category }}
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon color="accent" class="mr-3">more</mat-icon>
                        <strong>Status</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-content">
                      {{ painting.status }}
                    </div>
                  </mat-expansion-panel>

                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-icon color="accent" class="mr-3">shopping_bag</mat-icon>
                        <strong>Price</strong>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="panel-content">
                      &euro; {{ painting.price }}
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </div>
    </section>
  </main>
</div>