<!-- Page title -->
<app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true"></app-section-title>

<!-- Tab group -->
<div class="container-fluid" *ngIf="generalContent">
  <div class="row mb-4">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs color="primary">
        <!-- Header tab -->
        <mat-tab label="Header">
          <ng-container *ngTemplateOutlet="headerTab"></ng-container>
        </mat-tab>
        <!-- Services tab -->
        <mat-tab label="Diensten">
          <ng-container *ngTemplateOutlet="servicesTab"></ng-container>
        </mat-tab>
        <!-- Featured tab -->
        <mat-tab label="Uitgelicht">
          <ng-container *ngTemplateOutlet="featuredTab"></ng-container>
        </mat-tab>
        <!-- News tab -->
        <mat-tab label="Laatste Nieuws">
          <ng-container *ngTemplateOutlet="newsTab"></ng-container>
        </mat-tab>
        <!-- Paintings tab -->
        <mat-tab label="Laatste Werk">
          <ng-container *ngTemplateOutlet="workTab"></ng-container>
        </mat-tab>
        <!-- CTA tab -->
        <mat-tab label="Extra Aandacht">
          <ng-container *ngTemplateOutlet="ctaTab"></ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!-- Tab content templates -->
<ng-template #headerTab>
  <app-comp-header [page]="'home'" [generalContent]="generalContent"></app-comp-header>
</ng-template>
<ng-template #servicesTab>
  <app-comp-services [generalContent]="generalContent"></app-comp-services>
</ng-template>
<ng-template #featuredTab>
  <app-comp-features [generalContent]="generalContent"></app-comp-features>
</ng-template>
<ng-template #newsTab>
  <app-comp-latest-news [generalContent]="generalContent"></app-comp-latest-news>
</ng-template>
<ng-template #workTab>
  <app-comp-latest-work [generalContent]="generalContent"></app-comp-latest-work>
</ng-template>
<ng-template #ctaTab>
  <app-comp-cta [generalContent]="generalContent"></app-comp-cta>
</ng-template>


<!-- Page preview template -->
<ng-template #content>
  <mat-dialog-content>
    <app-home></app-home>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </mat-dialog-actions>
</ng-template>