<div class="container-fluid py-5">
  <app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [modal]="content">
  </app-section-title>


  <mat-accordion class="admin-accordion">
    <!-- Header -->
    <mat-expansion-panel [expanded]="panelStep === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Header</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-header [page]="'home'"></app-comp-header>
      <mat-action-row>
        <button mat-raised-button color="accent" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Services -->
    <mat-expansion-panel [expanded]="panelStep === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Diensten</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-services></app-comp-services>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="prevStep()">Vorige</button>
        <button mat-raised-button color="accent" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Featured -->
    <mat-expansion-panel [expanded]="panelStep === 2" (opened)="setStep(2)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Uitgelicht</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-features></app-comp-features>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="prevStep()">Vorige</button>
        <button mat-raised-button color="accent" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- News -->
    <mat-expansion-panel [expanded]="panelStep === 3" (opened)="setStep(3)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Laatste nieuws</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-latest-news></app-comp-latest-news>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="prevStep()">Vorige</button>
        <button mat-raised-button color="accent" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Paintings -->
    <mat-expansion-panel [expanded]="panelStep === 4" (opened)="setStep(4)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Laatste werk</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-latest-work></app-comp-latest-work>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="prevStep()">Vorige</button>
        <button mat-raised-button color="accent" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- CTA -->
    <mat-expansion-panel [expanded]="panelStep === 5" (opened)="setStep(5)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Call to action</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-cta></app-comp-cta>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="prevStep()">Vorige</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>


<!-- Page preview -->
<ng-template #content>

  <mat-dialog-content>
    <app-home></app-home>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
  </mat-dialog-actions>

</ng-template>