<ngb-carousel *ngIf="paintings.length && generalContent" #latestCarousel>
  <ng-template ngbSlide *ngFor="let painting of paintings">
    <div class="latest-item-wrapper" [style.height]="maxHeight">
      <app-painting-card [painting]="painting" [maxHeight]="maxHeight" [elevation]="generalContent.cardElevation">
      </app-painting-card>
    </div>
  </ng-template>
</ngb-carousel>

<div *ngIf="!paintings.length" class="text-center txt-dark-muted">
  <span>Geen resultaten gevonden.</span>
</div>