<ngu-carousel #latestCarousel [inputs]="carouselConfig" [dataSource]="paintings">
  <div *nguCarouselDef="let painting;" class="item">

    <mat-card class="ngu-card mx-2">
      <img mat-card-image src="{{painting.thumbnail}}" alt="Image">
      <mat-card-content>
        <p>{{painting.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Details</button>
      </mat-card-actions>
    </mat-card>

  </div>

  <button mat-fab NguCarouselNext color="primary" class="rightRs">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button mat-fab NguCarouselPrev color="primary" class="leftRs">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <ul class="ngu-points" NguCarouselPoint>
    <li *ngFor="let j of latestCarousel.pointNumbers; let i = index"
        [class.active]="j == latestCarousel.activePoint"
        (click)="latestCarousel.moveTo(i)">
    </li>
  </ul>
</ngu-carousel>
