<!-- Header small -->
<app-header-small [title]="title" [subTitle]="subTitle"></app-header-small>

<!-- Portfolio-->
<div id="portfolio" class="over-header spavento-dark">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div *ngFor="let image of images" class="col-lg-4 col-md-6 col-sm-12">
        <a class="portfolio-box" href="#">
          <img class="img-fluid" src="{{image}}" alt=""/>
          <div class="portfolio-box-caption">
            <div class="project-category text-white-50">Painting</div>
            <div class="project-name">Made for someone</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
