<!-- Main container -->
<div class="main-container">
  <!-- Sidenav caontainer -->
  <mat-sidenav-container class="main-sidenav-container">
    <!-- Sidenav -->
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="true"
      fixedTopGap="0"
      class="mat-elevation-z16"
      opened
    >
      <!-- Sidenav component -->
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <!-- Sidenav content -->
    <mat-sidenav-content>

      <!-- Toolbar -->
      <app-toolbar></app-toolbar>

      <!-- Main content -->
      <div class="d-flex flex-column scroll-content-wrapper bg-light txt-dark">
        <ngx-simplebar
          [options]="simplebarOptions"
          class="d-flex flex-column scroll-content h-100"
        >
          <!-- Router Outlet -->
          <div [@fadeAnimation]="getRouterOutletState(outlet)" style="padding-top: 56px;">
            <router-outlet #outlet="outlet"></router-outlet>
          </div>

          <!-- Footer -->
          <app-footer></app-footer>
        </ngx-simplebar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
