<div class="container-fluid pt-5" *ngIf="headerContent && generalContent">
  <app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
  </app-section-title>

  <div class="row mb-4">
    <div class="col-12">
      <mat-card class="{{generalContent.cardElevation}}">
        <h4 class="title-underlined">Resultaat</h4>
        <app-header [small]="headerContent.small" [typing]="headerContent.typing" [paralax]="headerContent.paralax"
          [title]="headerContent.defaultTitle" [subTitle]="headerContent.defaultSubtitle"
          [image]="headerContent.defaultImage" [elevation]="generalContent.cardElevation">
        </app-header>
      </mat-card>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <mat-card class="{{generalContent.cardElevation}}">
        <h4 class="title-underlined">Instellingen</h4>
        <form (ngSubmit)="onSubmit()" #headerForm="ngForm">

          <div class="form-group row">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-sm-12 col-md-6">
              <mat-label>Standaard titel</mat-label>
              <input matInput type="text" id="defaultTitle" placeholder="Titel" name="defaultTitle"
                [(ngModel)]="headerContent.defaultTitle" #defaultTitle="ngModel" required>
              <mat-error [hidden]="defaultTitle.valid || defaultTitle.pristine">
                Titel is verplicht
              </mat-error>
            </mat-form-field>
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-sm-12 col-md-6">
              <mat-label>Standaard subtitel</mat-label>
              <input matInput type="text" id="defaultSubTitle" placeholder="Subtitel" name="defaultSubTitle"
                [(ngModel)]="headerContent.defaultSubtitle" #defaultSubTitle="ngModel" required>
              <mat-error [hidden]="defaultSubTitle.valid || defaultSubTitle.pristine">
                Subtitel is verplicht
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group row" *ngIf="fileUploads">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-sm-12">
              <mat-label>Standaard afbeelding</mat-label>
              <mat-select id="defaultImage" name="defaultImage" [(ngModel)]="headerContent.defaultImage"
                #defaultImage="ngModel" required>
                <mat-option *ngFor="let file of fileUploads" [value]="file.url">
                  <img [src]="file.url" alt="thumbnail" class="img-thumbnail img-dropdown" />
                  {{ file.name }}
                </mat-option>
              </mat-select>
              <mat-error [hidden]="defaultImage.valid || defaultImage.pristine ">
                Afbeelding is verplicht
              </mat-error>
            </mat-form-field>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="form-field form-field-slide">
                <mat-label>Typewriter</mat-label>
                <mat-slide-toggle [(ngModel)]="headerContent.typing" name="typing" [checked]="headerContent.typing"
                  (change)="setBoolean(headerContent.typing , $event)" class="slide-toggle-form">
                </mat-slide-toggle>
              </div>
            </div>
            <div class="col-4">
              <div class="form-field form-field-slide">
                <mat-label>Paralax</mat-label>
                <mat-slide-toggle [(ngModel)]="headerContent.paralax" name="paralax" [checked]="headerContent.paralax"
                  (change)="setBoolean(headerContent.paralax , $event)" class="slide-toggle-form">
                </mat-slide-toggle>
              </div>
            </div>
            <div class="col-4">
              <div class="form-field form-field-slide">
                <mat-label>Klein</mat-label>
                <mat-slide-toggle [(ngModel)]="headerContent.small" name="small" [checked]="headerContent.small"
                  (change)="setBoolean(headerContent.small , $event)" class="slide-toggle-form">
                </mat-slide-toggle>
              </div>
            </div>
          </div>


          <button mat-flat-button color="accent" type="submit"
            [disabled]="!headerForm.form.valid || headerForm.form.pristine">
            Opslaan
          </button>
          <button mat-flat-button color="primary" type="button" class="ml-3" [disabled]="headerForm.form.pristine"
            (click)="resetForm()">
            Reset
          </button>
        </form>
      </mat-card>

    </div>
  </div>
</div>