<app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
</app-section-title>

<div class="container-fluid pt-5" *ngIf="navContent && generalContent">
  <div class="row mb-4">
    <div class="col-12">
      <mat-card class="{{generalContent.cardElevation}}">
        <h4 class="title-underlined">Resultaat</h4>
        <app-nav [navContent]="navContent" [fixed]="false" class="navbar-scrolled"></app-nav>
      </mat-card>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">

      <form (ngSubmit)="onSubmit()" #navigationForm="ngForm">

        <mat-card class="{{generalContent.cardElevation}}">
          <h4 class="title-underlined">Afbeelding</h4>

          <div class="form-group row">
            <div class="col-12 d-flex">
              <img [src]="navContent.brandImage" class="img-thumbnail mr-2" style="height: 180px;">
              <ngx-dropzone [multiple]="false" (change)="onFileSelect($event)" class="mat-dropzone flex-grow-1">
                <ngx-dropzone-label class="d-flex align-items-center">
                  <mat-icon class="mr-2">upload</mat-icon>
                  Kies afbeelding
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let file of selectedFiles"
                  [file]="file" [removable]="true" (removed)="onFileRemove(file)">
                  <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div>
        </mat-card>

        <mat-card class="{{generalContent.cardElevation}}">
          <h4 class="title-underlined">Instellingen</h4>
          <div class="form-group row">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12">
              <mat-label>Titel</mat-label>
              <input matInput type="text" id="title" placeholder="Titel" name="title" [(ngModel)]="navContent.brandName"
                #navTitle="ngModel" required>
              <mat-error *ngIf="navTitle.invalid">
                Titel is verplicht
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group row" *ngFor="let navlink of navContent.navLinks; index as i">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-sm-12 col-md-5">
              <mat-label>Label</mat-label>
              <input matInput [(ngModel)]="navlink.label" type="text" [id]="navlink.label" [name]="navlink.label"
                placeholder="Label" required>
            </mat-form-field>

            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-sm-12 col-md-5">
              <mat-label>Router link</mat-label>
              <mat-select [id]="navlink.routerLink" [name]="navlink.routerLink" [(ngModel)]="navlink.routerLink" required>
                <mat-option *ngFor="let option of generalContent.routerLinkOptions" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div class="col-sm-12 col-md-2">
              <div class="form-field form-field-slide">
                <mat-label>Zichtbaar</mat-label>
                <mat-slide-toggle [(ngModel)]="navlink.visible" [name]="'visible_' + i" [checked]="navlink.visible"
                  (change)="setVisibility(navlink , $event)" class="slide-toggle-form"></mat-slide-toggle>
              </div>
            </div>
          </div>

          <button mat-flat-button color="accent" type="submit"
            [disabled]="!navigationForm.form.valid || navigationForm.form.pristine && !selectedFiles.length">
            Opslaan
          </button>
          <button mat-flat-button color="primary" type="button" class="ml-3" [disabled]="navigationForm.form.pristine"
            (click)="resetForm()">
            Reset
          </button>

        </mat-card>
      </form>
    </div>
  </div>
</div>