<div class="container-fluid pt-5" *ngIf="navContent && generalContent">
  <app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
  </app-section-title>

  <div class="row mb-4">
    <div class="col-12">
      <mat-card class="{{generalContent.cardElevation}}">
        <h4 class="title-underlined">Resultaat</h4>
        <app-nav [navContent]="navContent" [fixed]="false" class="navbar-scrolled"></app-nav>
      </mat-card>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <mat-card class="{{generalContent.cardElevation}}">
        <h4 class="title-underlined">Instellingen</h4>

        <form (ngSubmit)="onSubmit()" #navigationForm="ngForm">

          <div class="form-group row">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12">
              <mat-label>Titel</mat-label>
              <input matInput type="text" id="title" placeholder="Titel" name="title" [(ngModel)]="navContent.brandName"
                #navTitle="ngModel" required>
              <mat-error *ngIf="navTitle.invalid">
                Titel is verplicht
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group row">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12">
              <mat-label>Logo</mat-label>
              <input matInput type="text" id="logo" placeholder="Logo" name="logo" [(ngModel)]="navContent.brandImage"
                #navLogo="ngModel" disabled>
              <mat-error *ngIf="navLogo.invalid">
                Logo is verplicht
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group row" *ngFor="let navlink of navContent.navLinks; index as i">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-sm-12 col-md-5">
              <mat-label>Label</mat-label>
              <input matInput [(ngModel)]="navlink.label" type="text" [id]="navlink.label" [name]="navlink.label"
                placeholder="Label" required>
            </mat-form-field>
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-sm-12 col-md-5">
              <mat-label>Router link</mat-label>
              <input matInput [(ngModel)]="navlink.routerLink" type="text" [id]="navlink.routerLink"
                [name]="navlink.routerLink" placeholder="Router link" required>
            </mat-form-field>
            <div class="col-sm-12 col-md-2">
              <div class="form-field form-field-slide">
                <mat-label>Zichtbaar</mat-label>
                <mat-slide-toggle [(ngModel)]="navlink.visible" [name]="'visible_' + i" [checked]="navlink.visible"
                  (change)="setVisibility(navlink , $event)" class="slide-toggle-form"></mat-slide-toggle>
              </div>
            </div>
          </div>

          <button mat-flat-button color="accent" type="submit"
            [disabled]="!navigationForm.form.valid || navigationForm.form.pristine">
            Opslaan
          </button>
          <button mat-flat-button color="primary" type="button" class="ml-3" [disabled]="navigationForm.form.pristine"
            (click)="resetForm()">
            Reset
          </button>
        </form>
      </mat-card>
    </div>
  </div>
</div>