<app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
</app-section-title>

<div class="container-fluid" *ngIf="generalContent">
  <div class="row mb-5">
    <div class="col-12">

      <form *ngIf="newsItem" (ngSubmit)="onSubmit()" #editNewsItemForm="ngForm">
        <mat-card class="{{generalContent.cardElevation}}">
          <h4 class="title-underlined">Afbeelding</h4>

          <div class="form-group row">
            <div class="col-12 d-flex">
              <img *ngIf="newsItem.image" [src]="newsItem.image" class="img-thumbnail mr-2" style="max-height: 180px;">
              <ngx-dropzone [multiple]="false" (change)="onFileSelect($event)" class="mat-dropzone flex-grow-1">
                <ngx-dropzone-label class="d-flex align-items-center">
                  <mat-icon class="mr-2">upload</mat-icon>
                  Kies nieuwe afbeelding
                </ngx-dropzone-label>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let file of selectedFiles"
                  [file]="file" [removable]="true" (removed)="onFileRemove(file)">
                  <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
                </ngx-dropzone-image-preview>
              </ngx-dropzone>
            </div>
          </div>
        </mat-card>

        <!-- General information -->
        <mat-card class="{{generalContent.cardElevation}}">
          <h4 class="title-underlined">Details</h4>

          <div class="form-group row">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12 col-md-6">
              <mat-label>Titel</mat-label>
              <input matInput id="title" placeholder="Titel" name="title" [(ngModel)]="newsItem.title"
                [disabled]="formDisabled" #title="ngModel" required />
              <mat-error *ngIf="titleinvalid">
                Titel is <strong>verplicht</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12 col-md-6">
              <mat-label>Auteur</mat-label>
              <input matInput id="author" placeholder="Auteur" name="author" [(ngModel)]="newsItem.author"
                [disabled]="formDisabled" #author="ngModel" required />
              <mat-error *ngIf="author.invalid">
                Auteur is <strong>verplicht</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group row">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12 col-md-6">
              <mat-label>Categorie</mat-label>
              <mat-select id="category" name="category" [(ngModel)]="newsItem.category" [disabled]="formDisabled"
                #category="ngModel" required>
                <mat-option *ngFor="let category of generalContent.newsCategories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="category.invalid">
                Categorie is <strong>verplicht</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12 col-md-6">
              <mat-label>Locatie</mat-label>
              <input matInput id="location" placeholder="Locatie" name="location" [(ngModel)]="newsItem.location"
                [disabled]="formDisabled" #location="ngModel" />
            </mat-form-field>
          </div>

          <div class="form-group row">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor"
              class="form-field col-12 col-md-6">
              <mat-label>Datum</mat-label>
              <input matInput id="date" placeholder="Datum" name="date" [(ngModel)]="newsItem.date"
                [disabled]="formDisabled" [matDatepicker]="datePicker" #date="ngModel" />
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                <ngx-editor [editor]="editor" [ngModel]="editorOutput" [placeholder]="'Bericht...'" name="editorOutput"
                  (ngModelChange)="onEditorContentChange($event)">
                </ngx-editor>
              </div>
            </div>
          </div>

          <!-- Actions -->
          <div class="row mt-3">
            <div class="col-12">
              <button mat-flat-button color="accent" type="submit" class="mr-2"
                [disabled]="!editNewsItemForm.valid && !selectedFiles.length">opslaan</button>
              <button mat-flat-button color="primary" type="button"
                (click)="resetForm(); editNewsItemForm.form.markAsUntouched()">reset</button>
            </div>
          </div>
        </mat-card>
      </form>
    </div>
  </div>
</div>