
<!-- Header small -->
<app-header [title]="pageContent.title" [subTitle]="pageContent.subTitle" [small]="true"></app-header>

<!-- Main -->
<main id="portfolio" class="main main-raised">

  <!-- Content -->
  <section class="page-section bg-light">

    <div class="container">
      <app-section-title
        [title]="pageContent.content.galleryContent.title"
        [subTitle]="pageContent.content.galleryContent.subTitle"
        [text]="pageContent.content.galleryContent.text"
      ></app-section-title>

      <!-- Gallery -->
      <app-gallery [maxHeight]="pageContent.content.galleryContent.maxHeight"></app-gallery>

    </div>
  </section>

</main>

