<div class="container-fluid py-5">
  <app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
  </app-section-title>

  <mat-accordion class="admin-accordion">

    <!-- Header -->
    <mat-expansion-panel [expanded]="panelStep === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Header</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-header [page]="'portfolio'"></app-comp-header>
      <mat-action-row>
        <button mat-raised-button color="accent" (click)="nextStep()">Volgende</button>
      </mat-action-row>
    </mat-expansion-panel>

    <!-- Gallery -->
    <mat-expansion-panel [expanded]="panelStep === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header class="title-header">
        <mat-panel-title>
          <h4 class="title-underlined mb-0 mt-2">Gallerij</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-comp-gallery></app-comp-gallery>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="prevStep()">Vorige</button>
        <!-- <button mat-raised-button color="accent" (click)="nextStep()">Volgende</button> -->
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>