<app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
</app-section-title>

<!-- Tab group -->
<div class="container-fluid" *ngIf="generalContent">
  <div class="row mb-4">
    <div class="col-12">
      <mat-tab-group mat-stretch-tabs color="primary">
        <!-- Header tab -->
        <mat-tab label="Header">
          <ng-container *ngTemplateOutlet="headerTab"></ng-container>
        </mat-tab>
        <!-- Cards tab -->
        <mat-tab label="Gallerij">
          <ng-container *ngTemplateOutlet="portfolioTab"></ng-container>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<!-- Tab content templates -->
<ng-template #headerTab>
  <app-comp-header [page]="'portfolio'" [generalContent]="generalContent"></app-comp-header>
</ng-template>
<ng-template #portfolioTab>
  <app-comp-gallery [generalContent]="generalContent"></app-comp-gallery>
</ng-template>