@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Custom typography
$custom-typography: mat-typography-config(
  $font-family: 'Poppins, sans-serif',
  $headline: mat-typography-level(2rem, 2.3rem, 700),
  $body-1: mat-typography-level(1rem, 1.15rem, 400)
);

// Common styles for Angular Material.
@include mat-core($custom-typography);

// Light theme.
$light-primary: mat-palette($mat-blue);
$light-accent:  mat-palette($mat-pink);
$light-warn:    mat-palette($mat-deep-orange);
$light-theme:   mat-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn,
  )
));

// Dark theme.
$dark-primary: mat-palette($mat-blue);
$dark-accent:  mat-palette($mat-pink);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));

// Include theme styles.
@include angular-material-theme($light-theme);

.spavento-dark {
  @include angular-material-color($dark-theme);
}
