$color-primary: #2196F3;
$color-primary-light: #BBDEFB;
$color-primary-dark: #1976D2;

$color-accent: #607D8B;
$color-warn: #F44336;

$color-dark: #272727;
$color-darker: #222;

$color-light: white;
$color-light-alt: #F8F9FA;

$color-txt-black: rgba(#000, 0.87);
$color-txt-black-muted: rgba(#000, 0.54);
$color-txt-white: #fff;
$color-txt-white-muted: rgba(#fff, 0.7);

