$color-primary: #607D8B;
$color-primary-light: #CFD8DC;
$color-primary-dark: #455A64;
$color-accent: #FF9800;
$color-warn: #FF5722;
$color-dark: #272727;
$color-dark-alt: #222;
$color-light: #F8F9FA;
$color-light-alt: #F9F9F9;
$color-primary-txt: #212121;
$color-secondary-txt: #4f4f4f;
$color-mat-dark: #424242;
