$color-primary: #945D60;
$color-secondary: #626E60;
$color-accent: #AF473C;
$color-warn: #AF473C;

$color-dark: #3C3C3C;
$color-light: #F8F9FA;

$color-theme-light: #FFF;
$color-theme-dark: #212121;

$color-txt-dark: #3C3C3C;
$color-txt-dark-muted: rgba($color-txt-dark, 0.7);
$color-txt-light: #F8F9FA;
$color-txt-light-muted: rgba($color-txt-light, 0.7);

$color-facebook: #3b5998;
$color-instagram: #f09433;
$color-twitter: #55acee;
$color-gradient-primary: linear-gradient(60deg,#945D60,#643236);
$color-gradient-secondary: linear-gradient(60deg,#626E60,#384336);
$color-gradient-accent: linear-gradient(60deg,#AF473C,#7a1715);

$masthead-height: 100vh;
$smallhead-height: 60vh;

