<mat-toolbar class="main-toolbar">
  <button mat-icon-button (click)="toggleSidenav()" class="mr-2">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="https://bbalvanera.mx/img/matdesign.png" alt="logo" class="brand-img rounded-circle img-thumbnail">

  <span>Material Admin</span>
  <span class="spacer"></span>


  <button mat-button [matMenuTriggerFor]="profileMenu">John Doe</button>
  <mat-menu #profileMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon class="material-icons-two-tone">remove_circle</mat-icon>
      <span>Logout</span>
    </button>

  </mat-menu>

</mat-toolbar>
