<mat-toolbar class="main-toolbar">
  <button mat-icon-button (click)="toggleSidenav()" class="mr-2">
    <mat-icon>menu</mat-icon>
  </button>

  <img src="../../../../assets/img/mdlogo.jpg" alt="logo" class="brand-img rounded-circle img-thumbnail">

  <span>Material Admin</span>
  <span class="spacer"></span>


  <button mat-button *ngIf="user" [matMenuTriggerFor]="profileMenu">
    <img *ngIf="user.photoURL" [src]="user.photoURL" class="img-fluid img-thumbnail rounded-circle mr-2">
    {{user.email}}
  </button>

  <mat-menu #profileMenu="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon class="material-icons-two-tone">remove_circle</mat-icon>
      <span (click)="logout()">Logout</span>
    </button>
  </mat-menu>

  <button mat-button>
    <span (click)="logout()">Logout</span>
  </button>

</mat-toolbar>
