<!-- Navigation-->
<nav *ngIf="navContent" [class.fixed-top]="fixed" [class.navbar-scrolled]="!fixed" class="navbar navbar-expand-md py-0" id="mainNav">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">
      <img src="{{navContent.brandImage}}" alt="logo" class="navbar-brand-img">
      <span class="ml-2">{{navContent.brandName}}</span>
    </a>

    <!-- Collapse button -->
    <button id="navbarToggle" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation" (click)="toggleMenu()">
      <!-- Icon -->
      <div id="animatedIcon" class="animated-icon">
        <span></span><span></span><span></span>
      </div>
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto my-2 my-lg-0">
        <li *ngFor="let navLink of navContent.navLinks" class="nav-item">
          <a *ngIf="navLink.visible" class="nav-link nav-link-fade-up" data-toggle="collapse" data-target="#navbarResponsive.show"
            routerLink="{{navLink.routerLink}}" routerLinkActive="router-link-active" (click)="closeMenu()">
            {{navLink.label}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>