<!-- Header -->
<app-header [title]="pageContent.title" [subTitle]="pageContent.subTitle" [small]="false"></app-header>

<main id="home" class="main main-raised">
  <!-- Services -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title 
        [title]="pageContent.content.servicesContent.title"
        [subTitle]="pageContent.content.servicesContent.subTitle" 
        [text]="pageContent.content.servicesContent.text"
      ></app-section-title>
      <div class="row">
        <div *ngFor="let service of pageContent.content.servicesContent.services" class="col-lg-4 col-md-6 col-sm-12">
          <!-- Service cards -->
          <app-service-card [service]="service"></app-service-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Featured -->
  <section class="page-section">
    <div class="container">
      <app-section-title 
        [title]="pageContent.content.featuredContent.title"
        [subTitle]="pageContent.content.featuredContent.subTitle"
        [text]="pageContent.content.featuredContent.text"
      ></app-section-title>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- <app-featured [painting]="featuredPainting"></app-featured> -->
          <app-painting-card 
            [painting]="pageContent.content.featuredContent.painting" 
            [maxHeight]="pageContent.content.featuredContent.maxHeight"
          ></app-painting-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest News -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title 
        [title]="pageContent.content.latestNewsContent.title"
        [subTitle]="pageContent.content.latestNewsContent.subTitle"
        [text]="pageContent.content.latestNewsContent.text"
        [link]="pageContent.content.latestNewsContent.link"
      ></app-section-title>
      <div class="row">
        <div class="col-12">
          <app-latest-news></app-latest-news>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest paintings -->
  <section class="page-section">
    <div class="container">
      <app-section-title
        [title]="pageContent.content.latestWorkContent.title"
        [subTitle]="pageContent.content.latestWorkContent.subTitle"
        [text]="pageContent.content.latestWorkContent.text"
        [link]="pageContent.content.latestWorkContent.link">
      </app-section-title>
      <div class="row">
        <div class="col-12">
          <app-latest></app-latest>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section class="page-section bg-material-light">
    <div class="container">
      <div class="col-12">
        <app-call-to-action
          [title]="pageContent.content.ctaContent.title"
          [subTitle]="pageContent.content.ctaContent.subTitle"
          [buttonText]="pageContent.content.ctaContent.btnText"
          [buttonLink]="pageContent.content.ctaContent.btnLink"
          [image]="pageContent.content.ctaContent.image"
        ></app-call-to-action>
      </div>
    </div>
  </section>
</main>