<!-- Header -->
<app-header [title]="title" [subTitle]="subTitle" [small]="false"></app-header>

<main id="home" class="main main-raised">
  <!-- Services -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title
        [title]="'Services'"
        [subTitle]="'What i do'"
        [text]="
          'Phasellus ultricies, nisi vitae rutrum hendrerit, justo nunc faucibus libero, vel suscipit nibh erat id arcu. Cras ac vehicula diam.'
        "
      ></app-section-title>
      <div class="row">
        <div
          *ngFor="let service of services"
          class="col-lg-4 col-md-6 col-sm-12"
        >
          <!-- Service cards -->
          <app-service-card [service]="service"></app-service-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Featured -->
  <section class="page-section">
    <div class="container">
      <app-section-title
        [title]="'Featured'"
        [subTitle]="'My personal favorite'"
      ></app-section-title>
    </div>
    <div class="container">
      <app-featured [painting]="featuredPainting"></app-featured>
    </div>
  </section>

  <!-- Latest News -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title
        [title]="'Latest News'"
        [subTitle]="'Stay up to date'"
        [link]="'/news'"
      ></app-section-title>
      <div class="row">
        <div class="col-12">
          <app-latest-news></app-latest-news>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest paintings -->
  <section class="page-section">
    <div class="container">
      <app-section-title
        [title]="'Recent work'"
        [subTitle]="'Take a look at my recent work'"
        [link]="'/portfolio'"
      ></app-section-title>
      <div class="row">
        <div class="col-12">
          <app-latest></app-latest>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section class="page-section bg-material-light">
    <div class="container">
      <div class="col-12">
        <app-call-to-action></app-call-to-action>
      </div>
    </div>
  </section>
</main>
