<!-- Header -->
<app-header [title]="pageTitle.title" [subTitle]="pageTitle.subTitle" [small]="false"></app-header>

<main id="home" class="main main-raised">
  <!-- Services -->
  <section *ngIf="services.active" class="page-section bg-light">
    <div class="container">
      <app-section-title [title]="services.title" [subTitle]="services.subTitle" [text]="services.text">
      </app-section-title>
      <div class="row">
        <div *ngFor="let service of services.services" class="col-lg-4 col-md-6 col-sm-12">
          <!-- Service cards -->
          <app-service-card [service]="service"></app-service-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Featured -->
  <section *ngIf="featured.active" class="page-section">
    <div class="container">
      <app-section-title [title]="featured.title" [subTitle]="featured.subTitle" [text]="featured.text">
      </app-section-title>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-painting-card [painting]="featured.painting" [maxHeight]="featured.maxHeight">
          </app-painting-card>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest News -->
  <section *ngIf="latestNews.active" class="page-section bg-light">
    <div class="container">
      <app-section-title [title]="latestNews.title" [subTitle]="latestNews.subTitle" [text]="latestNews.text"
        [link]="latestNews.link">
      </app-section-title>
      <div class="row">
        <div class="col-12">
          <app-latest-news></app-latest-news>
        </div>
      </div>
    </div>
  </section>

  <!-- Latest paintings -->
  <section *ngIf="latestWork.active" class="page-section">
    <div class="container">
      <app-section-title [title]="latestWork.title" [subTitle]="latestWork.subTitle" [text]="latestWork.text"
        [link]="latestWork.link">
      </app-section-title>
      <div class="row">
        <div class="col-12">
          <app-latest></app-latest>
        </div>
      </div>
    </div>
  </section>

  <!-- CTA -->
  <section *ngIf="cta.active" class="page-section" [style.backgroundImage]="'url(' + cta.image + ')'">
    <div class="container">
      <div class="col-12">
        <app-call-to-action [title]="cta.title" [subTitle]="cta.subTitle" [buttonText]="cta.btnText"
          [buttonLink]="cta.btnLink">
        </app-call-to-action>
      </div>
    </div>
  </section>
</main>