<!-- Header small -->
<app-header [title]="pageContent.title" [subTitle]="pageContent.subTitle" [small]="true"></app-header>

<!-- Main -->
<main id="news" class="main main-raised">
  <!-- News -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title 
        [title]="pageContent.content.newsContent.title" 
        [subTitle]="pageContent.content.newsContent.subTitle"
        [text]="pageContent.content.newsContent.text"
      ></app-section-title>

      <!-- Filters -->
      <div id="filterRow" class="row">
        <div class="col-12 d-flex align-items-center justify-content-center flex-wrap">
          <button mat-raised-button [matMenuTriggerFor]="menuCategory" [matBadge]="activeFilters.categories.length"
            [matBadgeHidden]="activeFilters.categories.length == 0" matBadgePosition="after" matBadgeColor="accent"
            class="m-2">
            <mat-icon class="mr-0 mr-sm-2">category</mat-icon>
            <span class="d-none d-sm-inline">Categorie</span>
          </button>
          <mat-menu #menuCategory="matMenu">
            <mat-selection-list #categorylist [(ngModel)]="activeFilters.categories" (ngModelChange)="updateFilters()">
              <mat-list-option color="primary" checkboxPosition="after" *ngFor="let category of categories"
                [value]="category">
                {{ category }}
              </mat-list-option>
            </mat-selection-list>
          </mat-menu>

          <button mat-icon-button color="primary" class="m-2" (click)="resetFilters();">
            <mat-icon>replay</mat-icon>
          </button>
        </div>
      </div>

      <!-- News items -->
      <div #shuffleContainer class="shuffle-container row my-4">
        <app-news-card *ngFor="let item of newsItems" class="shuffle-item col-12 my-3" [newsItem]="item"
          [attr.data-category]="item.category">
        </app-news-card>
        <div #shuffleSizer class="sizer-element col-1"></div>
      </div>

    </div>
  </section>
</main>