<!-- NavBar -->
<app-nav></app-nav>

<!-- Header small -->
<app-header [title]="title" [subTitle]="subTitle" [small]="true"></app-header>

<!-- Main -->
<main id="news" class="main main-raised">
  <!-- News -->
  <section class="page-section bg-light">
    <div class="container">
      <app-section-title
        [title]="'News'"
        [subTitle]="'The lastest Spavento news'"
        [text]="
          'Phasellus ultricies, nisi vitae rutrum hendrerit, justo nunc faucibus libero, vel suscipit nibh erat id arcu. Cras ac vehicula diam.'
        "
      ></app-section-title>

      <div class="row">
        <div class="col-12" *ngFor="let item of newsItems">
          <app-news-card [newsItem]="item"></app-news-card>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Footer -->
<app-footer></app-footer>
