.back-top {
  position: fixed;
  right: 16px;
  bottom: 0;
  z-index: 5;
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

@media (min-width: 768px) {
  .back-top {
    right: 32px;
  }
}