<mat-card class="card-clean">
  <div class="container-fluid">
    <div class="row">
      <div [class]="colOne">
        <div class="news-header">
          <img
            [class]="imageClass"
            class="w-100 rounded mat-elevation-z4"
            src="{{newsItem.image}}"
            alt="news"
          />
        </div>
      </div>
      <div [class]="colTwo">
        <div class="d-flex flex-column justify-content-center h-100">
          <h6 class="txt-primary text-uppercase mt-2">
            {{ newsItem.category }}
          </h6>
          <h3>{{ newsItem.title }}</h3>
          <p>{{ newsItem.text }}</p>
          <p class="txt-dark-muted">
            by <strong>{{ newsItem.author }}</strong
            >, {{ formattedDate }}
          </p>
          <p>
            <button
              mat-raised-button
              color="accent"
              (click)="openNewsItem(content)"
            >
              Read more
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <div></div>
    <button mat-raised-button color="accent" (click)="modal.close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <div class="news-header">
            <img
              class="w-100 rounded mat-elevation-z4"
              src="{{newsItem.image}}"
              alt="news"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="d-flex flex-column justify-content-center h-100">
            <h6 class="txt-secondary text-uppercase mt-2">
              {{ newsItem.category }}
            </h6>
            <h3>{{ newsItem.title }}</h3>
            <p class="txt-dark-muted">
              by <strong>{{ newsItem.author }}</strong>, {{ formattedDate }}
            </p>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <p>{{ newsItem.text }}</p>
        </div>
        <div class="col-md-6">
          <p>{{ newsItem.text }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-maps></app-maps>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
