<app-section-title [title]="title" [subTitle]="subTitle" [text]="text" [admin]="true">
</app-section-title>

<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-12" *ngIf="isLoadingResults">
      <app-loading [message]="'Gebruikers laden...'"></app-loading>
    </div>

    <div class="col-12">
      <!-- Table Filter -->
      <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="w-100">
        <button mat-button matPrefix mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Vraag" #input>
        <button mat-button *ngIf="input.value" matSuffix mat-icon-button aria-label="Clear"
          (click)="input.value=''; resetFilter()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Elevation -->
      <div class="{{generalContent.cardElevation}}">
        <!-- Table -->
        <div class="mat-table-container">
          <table mat-table [dataSource]="dataSource" class="w-100" matSort matSortActive="displayName"
            matSortDirection="desc">

            <ng-container matColumnDef="photoURL">
              <th mat-header-cell *matHeaderCellDef> Foto </th>
              <td mat-cell *matCellDef="let item">
                <img *ngIf="item.photoURL" [src]="item.photoURL" class="rounded-circle img-table mat-elevation-z2">
              </td>
            </ng-container>

            <ng-container matColumnDef="uid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let item"> {{ item.uid }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
              <td mat-cell *matCellDef="let item"> {{ item.email }} </td>
            </ng-container>

            <ng-container matColumnDef="displayName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Naam </th>
              <td mat-cell *matCellDef="let item"> {{ item.displayName }} </td>
            </ng-container>

            <ng-container matColumnDef="emailVerified">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Email bevestigd </th>
              <td mat-cell *matCellDef="let item">
                <mat-slide-toggle [checked]="item.emailVerified" disabled></mat-slide-toggle>
              </td>
            </ng-container>

            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef> Opties </th>
              <td mat-cell *matCellDef="let item">
                <button mat-icon-button color="accent" (click)="setModalItem(item); openModal(modalContent)">
                  <mat-icon>edit</mat-icon>
                </button>
                <!-- <button mat-icon-button color="primary" (click)="deleteItem(item.id)">
                  <mat-icon>delete</mat-icon>
                </button> -->
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="7">Geen data beschikbaar.</td>
            </tr>
          </table>
        </div>

        <!-- Paginator -->
        <mat-paginator [length]="resultsLength" [pageSize]="generalContent.pageSizeDefault" [pageSizeOptions]="generalContent.pageSizeOptions" showFirstLastButtons>
        </mat-paginator>

      </div>
    </div>
  </div>
  <!-- 
  <div class="row mb-5">
    <div class="col-12">
      <mat-card class="{{generalContent.cardElevation}}">
        <h4 class="title-underlined">Toevoegen</h4>
        <form (ngSubmit)="onSubmit()" #signUpForm="ngForm">

          <div class="form-group">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="w-100">
              <mat-label>Naam</mat-label>
              <input matInput type="text" placeholder="Naam" [(ngModel)]="form.name" name="name" id="name"
                #nameInput="ngModel" required />
              <mat-error *ngIf="nameInput.invalid">
                Naam is <strong>verplicht</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="w-100">
              <mat-label>Foto</mat-label>
              <input matInput type="text" placeholder="Foto" [(ngModel)]="form.photo" name="photo" id="photo"
                #photoInput="ngModel" />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="w-100">
              <mat-label>E-mail</mat-label>
              <input matInput type="text" placeholder="info@spavento.com" [(ngModel)]="form.email" name="usermmail"
                id="usermmail" #usermmailInput="ngModel" required />
              <mat-error *ngIf="usermmailInput.invalid">
                Email is <strong>verplicht</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="w-100">
              <mat-label>Wachtwoord</mat-label>
              <input matInput type="password" placeholder="Wachtwoord" [(ngModel)]="form.password" name="userpassword"
                id="userpassword" #userpasswordInput="ngModel" required />
              <mat-error *ngIf="userpasswordInput.invalid">
                Wachtwoord is <strong>verplicht</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="w-100">
              <mat-label>Bevestig wachtwoord</mat-label>
              <input matInput type="password" placeholder="Wachtwoord" [(ngModel)]="form.confirmPassword"
                name="confirmPassword" id="confirmPassword" #confirmPasswordInput="ngModel" required />
              <mat-hint [hidden]="form.password == form.confirmPassword">
                Wachtwoorden komen niet overeen
              </mat-hint>
            </mat-form-field>
          </div>

          <button mat-raised-button color="accent" type="submit"
            [disabled]="!signUpForm.form.valid || userpasswordInput.value != confirmPasswordInput.value">
            Toevoegen
          </button>

        </form>
      </mat-card>
    </div>
  </div> -->
</div>



<!-- Modal -->
<ng-template #modalContent>

  <mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h4 class="title-underlined">Bewerken</h4>
        </div>
      </div>

      <form #editUserForm="ngForm" style="width: 400px;">

        <div class="form-group row">
          <div class="col-12 d-flex">
            <img [src]="modalUser.photoURL" class="img-thumbnail mr-2" style="height: 180px;">
            <ngx-dropzone [multiple]="false" (change)="onFileSelect($event)" class="mat-dropzone flex-grow-1">
              <ngx-dropzone-label class="d-flex align-items-center">
                <mat-icon class="mr-2">upload</mat-icon>
                Kies afbeelding
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let file of selectedFiles"
                [file]="file" [removable]="true" (removed)="onFileRemove(file)">
                <ngx-dropzone-label>{{ file.name }} ({{ file.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </ngx-dropzone>
          </div>
        </div>

        <div class="form-group row">
          <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="col-12">
            <mat-label>Naam</mat-label>
            <input matInput type="text" [(ngModel)]="modalUser.displayName" name="displayName" id="displayName"
              #displayNameInput="ngModel" />
          </mat-form-field>
        </div>
        <div class="form-group row">
          <mat-form-field [appearance]="generalContent.formStyle" [color]="generalContent.formColor" class="col-12">
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="modalUser.email" name="userEmail" id="userEmail"
              #userEmailInput="ngModel" disabled />
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" [disabled]="editUserForm.form.pristine && !selectedFiles.length"
      (click)="updateUser()">Opslaan</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Sluit</button>
  </mat-dialog-actions>

</ng-template>